#globalContainer {
    position: relative;

    .map-container {
        height: 96vh;
        width: 96vw;
        margin: 0 auto;

        .leaflet-container {
            height: 100%;
            width: 100%;
        }
    }

    .map-overlay {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }

    #distritos {
        position: absolute;
        top: 10px;
        left: 80px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    #distritos h2 {
        margin-bottom: 5px;
        font-weight: bold;
    }

    #distritos ul {
        padding-left: 0;
        margin-bottom: 0;
    }

    #distritos li {
        list-style: none;
        margin-bottom: 5px;
    }

    .map-controls {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;

        label {
            margin-right: 10px;
            font-weight: bold;
            display: flex;
            align-items: center;
        }

        input[type="range"] {
            margin-left: 5px;
            padding: 5px;
            border-radius: 3px;
            border: 1px solid #ccc;
            background-color: #f0f0f0;
            outline: none;
        }
    }

    .district-label {
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
}
